.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.frase {
    text-align: left;
    font-size: 20px;
}

.campo-desativado {
    background-color: lightgray;
}

.icons {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.placar {
    display: none;
}

body {
    overflow: scroll;
}

#erro {
    color: red;
    display: none;
}

#spinner {
    display: none;
}

#frase-id {
    width: 40px;
    margin-left: 10px;
}